# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Base de données SQLite
*.db
*.db-shm
*.db-wal

# Secrets & config locaux
appsettings.Development.json
**/secrets.json

# Logs
*.log
logs/

# NuGet
*.nupkg
.nuget/

# OS
.DS_Store
Thumbs.db